[submodule "docker/arch-flit/flit_mfem"]
	path = docker/arch-flit/flit_mfem
	url = git@github.com:pruners/flit_mfem
[submodule "cmake/tutorials/cmake-cookbook"]
	path = cmake/tutorials/cmake-cookbook
	url = https://github.com/dev-cafe/cmake-cookbook
[submodule "arduino/3rdparty/DIO2"]
	path = arduino/3rdparty/DIO2
	url = https://github.com/Locoduino/DIO2
[submodule "c/pi-pico/pico-sdk"]
	path = c/pi-pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "c/pi-pico/pico-examples"]
	path = c/pi-pico/pico-examples
	url = https://github.com/raspberrypi/pico-examples
[submodule "arduino/3rdparty/rpi"]
	path = arduino/3rdparty/rpi
	url = https://github.com/blippy/rpi
[submodule "arduino/3rdparty/MsTimer2"]
	path = arduino/3rdparty/MsTimer2
	url = https://github.com/PaulStoffregen/MsTimer2
[submodule "c/pi-pico/pico-micropython-examples"]
	path = c/pi-pico/pico-micropython-examples
	url = https://github.com/raspberrypi/pico-micropython-examples
[submodule "arduino/3rdparty/pico-pi-playing"]
	path = arduino/3rdparty/pico-pi-playing
	url = https://github.com/tinkertechtrove/pico-pi-playing
[submodule "arduino/3rdparty/n64arduinoAdapter"]
	path = arduino/3rdparty/n64arduinoAdapter
	url = https://github.com/telenaut/n64arduinoAdapter
[submodule "c/pi-pico/pio-emulator"]
	path = c/pi-pico/pio-emulator
	url = https://github.com/soundpaint/rp2040pio
[submodule "arduino/3rdparty/AccelStepper"]
	path = arduino/3rdparty/AccelStepper
	url = https://github.com/waspinator/AccelStepper
