[submodule "docker/arch-flit/flit_mfem"]
	path = docker/arch-flit/flit_mfem
	url = git@github.com:pruners/flit_mfem
[submodule "cmake/tutorials/cmake-cookbook"]
	path = cmake/tutorials/cmake-cookbook
	url = https://github.com/dev-cafe/cmake-cookbook
[submodule "arduino/3rdparty/DIO2"]
	path = arduino/3rdparty/DIO2
	url = https://github.com/Locoduino/DIO2
[submodule "c/pi-pico/pico-sdk"]
	path = c/pi-pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "c/pi-pico/pico-examples"]
	path = c/pi-pico/pico-examples
	url = https://github.com/raspberrypi/pico-examples
[submodule "arduino/3rdparty/rpi"]
	path = arduino/3rdparty/rpi
	url = https://github.com/blippy/rpi
[submodule "arduino/3rdparty/MsTimer2"]
	path = arduino/3rdparty/MsTimer2
	url = https://github.com/PaulStoffregen/MsTimer2
[submodule "python/micropython/pi-pico/pico-micropython-examples"]
	path = python/micropython/pi-pico/pico-micropython-examples
	url = https://github.com/raspberrypi/pico-micropython-examples
[submodule "arduino/3rdparty/pico-pi-playing"]
	path = arduino/3rdparty/pico-pi-playing
	url = https://github.com/tinkertechtrove/pico-pi-playing
[submodule "arduino/3rdparty/n64arduinoAdapter"]
	path = arduino/3rdparty/n64arduinoAdapter
	url = https://github.com/telenaut/n64arduinoAdapter
[submodule "c/pi-pico/pio-emulator"]
	path = c/pi-pico/pio-emulator
	url = https://github.com/soundpaint/rp2040pio
[submodule "arduino/3rdparty/AccelStepper"]
	path = arduino/3rdparty/AccelStepper
	url = https://github.com/waspinator/AccelStepper
[submodule "cmake/tutorials/cmake-template-example"]
	path = cmake/tutorials/cmake-template-example
	url = https://github.com/sunsided/cmake
[submodule "python/blender/blender-cli-rendering"]
	path = python/blender/blender-cli-rendering
	url = https://github.com/yuki-koyama/blender-cli-rendering
[submodule "c/udev/interception/interception-k2k"]
	path = c/udev/interception/plugins/k2k
	url = https://github.com/zsugabubus/interception-k2k
[submodule "c/udev/interception/tools"]
	path = c/udev/interception/tools
	url = https://gitlab.com/interception/linux/tools.git
[submodule "python/pandas/best-practices/pycon-2019-tutorial"]
	path = python/pandas/best-practices/pycon-2019-tutorial
	url = https://github.com/justmarkham/pycon-2019-tutorial
[submodule "c/raylib/raylib"]
	path = c/raylib/raylib
	url = https://github.com/raysan5/raylib
[submodule "cpp/package-managers/vcpkg/lefticus-example/vcpkg"]
	path = cpp/package-managers/vcpkg/lefticus-example/vcpkg
	url = https://github.com/microsoft/vcpkg
